.App {
  text-align: center;
  background-color: #282c34;
  color: white;

}

.CarSelector_DropdownMenu {
  height: 300px;
  overflow-y: scroll;
}

.CarSelector_Row {
  margin-bottom: 20px;
}

.RootComponent-ButtonMinus {
  margin-right: 5px;
}

.RootComponent-Container {
  margin-top: 50px;
}

.RootComponent-Reload-Row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.RootComponent-Row {
  background-color: hotpink;
}

.RootComponent-Col {
  background-color: palegoldenrod;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.error-message {
  color: red;
}

.background-higher {
  background: lightcoral;
}

.background-lower {
  background: lightskyblue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
